/* NAVBAR */

#login-btn{
    width: 100px;
    background-color: #565b5f;
    border-radius: 10px;
    justify-content: center;
}

/* HOMEPAGE */

#homepage{
    display: flex;
    width: 100%;
}

#home-img{
    height: 92.7vh;
    border-right: 5px solid #343a40;
}

#homepage-text{
    width:100%;
    margin:auto;
    margin-left: 10%;
    font-family: monospace;
}

#home-title{
    color:#343a40; 
    font-size: 70px;
}

#home-account-balance{
    background-color: #343a40;
    color:white;
    width: 40%;
    border-radius: 20px;
    padding: 10px 0 10px 20px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
}

/* LOGIN PAGE */

#login-page{
    background: url(https://images.pexels.com/photos/1429770/pexels-photo-1429770.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    height: 92.7vh;
    color:#343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

#login-form{
    background-color: rgba(255, 255, 255, 0.8);
    width: 40%;
    border-radius: 20px;
    padding: 60px 80px;
    box-shadow: 5px 5px 15px #565b5f;
}

#login-title{
    font-size: 50px;
    padding-bottom: 20px;
}

.form-labels{
    font-size: 20px;
}

/* USER PROFILE PAGE */

#profile-page{
    display: flex;
    width: 100%;
}

#profile-text{
    width:100%;
    margin:auto;
    margin-left: 10%;
    font-family: monospace;
}

#profile-img{
    height: 92.7vh;
    border-left: 5px solid #343a40;
}

#profile-title{
    color:#343a40; 
    font-size: 50px;
}

#user-info{
    font-size: 20px;
}

#debit-btn{
    margin: 20px 0;
}

#credit-btn{
    margin-left: 20px;
}

/* DEBIT/CREDIT PAGE */
#debit-background{
    background: url("https://images.pexels.com/photos/4386155/pexels-photo-4386155.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:cover;
}

#credit-background{
    background: url("https://images.pexels.com/photos/4386157/pexels-photo-4386157.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

#debit-page, #credit-page{
    width: 60%;
    background-color: rgba(255,255,255);
    margin:auto;
    padding: 20px;
    font-family: monospace;
    border-left: 5px solid #343a40;
    border-right: 5px solid #343a40;
}

#debits-title, #credits-title{
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
}

#debits-account-balance, #credits-account-balance{
    font-size: 20px;
    text-align: center;
}

#add-debit, #add-credit{
    margin: 30px 0;
    padding: 10px 30px;
    width: 70%;
    border-radius: 20px;
}

#add-debit input, #add-credit input{
    padding: 5px;
    margin-right: 10px;
}

#add-btn{
    margin: 10px 0;
    width: 100px;
}

#debit-history{
    margin: 30px 0;
    padding: 10px 30px;
    width: 100%;
    border-radius: 20px;
}

#history-table-header{
    display: flex;
    background-color: #343a40;
    color: white;
    padding: 10px;
    font-size: 16px;
}

#description{
    text-align: center;
    width: 33%;
}

#amount{
    text-align: right;
    width: 33%;
}

#date{
    text-align: left;
    width: 33%;
}

/* CARD */

#transaction-card{
    padding: 10px;
    display: flex;
    border: 1px solid #343a40;
}